flows.json
[
    {
        "id": "5445a7fef5dd7231",
        "type": "tab",
        "label": "MISC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e059348302dd4852",
        "type": "tab",
        "label": "OLED",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "62c06baefd79902a",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5732512e759ff8e5",
        "type": "tab",
        "label": "GPIO",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf0b2dd014e61cb7",
        "type": "group",
        "z": "5732512e759ff8e5",
        "name": "Inputs",
        "style": {
            "label": true
        },
        "nodes": [
            "ab40579a183e1ec7",
            "be701008f611da98",
            "8a706d172d62abc6",
            "5202f9b5363404e0",
            "ea16ad3d7de9a1c1",
            "a2e80b6fbdc24b74",
            "ed5cac9635191991",
            "9031ea95efdb0241",
            "953d87ee5e6849cb",
            "1f7d4606b8ef7d0d"
        ],
        "x": 234,
        "y": 239,
        "w": 312,
        "h": 322
    },
    {
        "id": "8320fa23569300f5",
        "type": "group",
        "z": "5732512e759ff8e5",
        "name": "Outputs",
        "style": {
            "label": true
        },
        "nodes": [
            "0209ec402afd1cf1",
            "cd00a2e02518aeaf",
            "149ad93792094d92",
            "2548750074348081",
            "3b788993ad4107c3",
            "42b9469173c2ba7b",
            "1f7363a2fa257c85",
            "ce1091c2d76d7a98",
            "65c24e5d96a66f8b",
            "fa0fd4dd8fbb3307",
            "6cb20d76dc54e752",
            "cbea8aa350e9f850",
            "a8b0827e20bcbf69",
            "ec735cdb8292bced"
        ],
        "x": 634,
        "y": 239,
        "w": 332,
        "h": 442
    },
    {
        "id": "8f696b754bce64e9",
        "type": "group",
        "z": "62c06baefd79902a",
        "name": "Button, LEDs & Buzzer",
        "style": {
            "label": true
        },
        "nodes": [
            "ec39ee34b118e923",
            "89cc88a3e1740433",
            "cdcdf33c16171195",
            "150696090b1cc041",
            "750146473b0c58b6",
            "94b8b844ba9c91d3",
            "ac3ac06d824af009",
            "3c81f5628dc20a3f",
            "f7c457b6b3a76d13",
            "b3973b38adab1c5b",
            "21a1dbbfbb25cf54"
        ],
        "x": 314,
        "y": 79,
        "w": 572,
        "h": 322
    },
    {
        "id": "510f7a812a5cb8c6",
        "type": "group",
        "z": "62c06baefd79902a",
        "name": "Digital Inputs",
        "style": {
            "label": true
        },
        "nodes": [
            "35d4ccba2e282c31",
            "976396ca4f59f2ce",
            "96de81e652eaa753",
            "ac69d1180b53a4eb",
            "b9ef064172544cc3",
            "4cda470d704d8e80",
            "9d4b7e0bc8fa792e",
            "faebef991002e65d",
            "4f74ee1f606528cf",
            "f95735e3fd2f719a",
            "63430cde3b47cae4",
            "04a969c0823203b6"
        ],
        "x": 314,
        "y": 439,
        "w": 512,
        "h": 262
    },
    {
        "id": "f4c5bdb2754f3579",
        "type": "group",
        "z": "62c06baefd79902a",
        "name": "Digital Outputs",
        "style": {
            "label": true
        },
        "nodes": [
            "28aa8df4d883d6fd",
            "2bc17a430cc19406",
            "a8437adb5e24c218",
            "f89fb3a36bb8a961",
            "850f74466c825092",
            "9184fe2c4c96ab84",
            "3ae3b6b962ea589e",
            "f85ac9e3d1d80e43"
        ],
        "x": 314,
        "y": 739,
        "w": 262,
        "h": 262
    },
    {
        "id": "c65c4a2017ccb3f8",
        "type": "group",
        "z": "62c06baefd79902a",
        "name": "Analog Inputs",
        "style": {
            "label": true
        },
        "nodes": [
            "6b65770f7755ee39",
            "0bb9861fd2482d3d",
            "dc5c11934b2fcee1",
            "8852ef03102f5580",
            "fde6102c008c0d55",
            "8ed924bb748218e3",
            "b2f9808e6e192c14"
        ],
        "x": 314,
        "y": 1039,
        "w": 812,
        "h": 262
    },
    {
        "id": "ecd28b03fbd1122a",
        "type": "group",
        "z": "62c06baefd79902a",
        "name": "System",
        "style": {
            "label": true
        },
        "nodes": [
            "60282391e45ceefe",
            "4cddbf0560cbb036",
            "822d28d21e12240b",
            "da4f01f1cb203666",
            "9e6d86ee75895bd9",
            "c3a32c35cdef8f4b",
            "e3be9c59a398d806",
            "33b668c25cfd16a8",
            "cd338b8cd74b51b4",
            "5d8c34500db77fa5",
            "c8607c96ca93c4f5",
            "8d892f59f1b16913",
            "aaa2da7bf77f2358",
            "8e80e1ec14f94b59",
            "8a83915a5a3f02e4",
            "2133ac632fd7220c",
            "4f8ab336209bf378",
            "34cd93148635b2a2",
            "3b832cc6a4984378",
            "5fd50e2c84b7143a",
            "93edce6fcbf6b8f9",
            "faa3f5284120d1d2",
            "fd0ac508be3bf537",
            "5f182ee507748ee0"
        ],
        "x": 314,
        "y": 1339,
        "w": 732,
        "h": 682
    },
    {
        "id": "d10afd801c06d4ca",
        "type": "group",
        "z": "e059348302dd4852",
        "name": "Show the \"Press USER to cont...\" message",
        "style": {
            "label": true
        },
        "nodes": [
            "fc8c66e2e0922097",
            "44b257e233e15227",
            "df66aae5f2698be1",
            "7c62001e563e4156",
            "93da38cd26e89d3b",
            "12882f065f5a841b"
        ],
        "x": 34,
        "y": 39,
        "w": 552,
        "h": 202
    },
    {
        "id": "7731482e8bee75d8",
        "type": "group",
        "z": "e059348302dd4852",
        "name": "Show the main message depending on state machine",
        "style": {
            "label": true
        },
        "nodes": [
            "4c544b6a1063ed9e",
            "47cb5e590092d9ba",
            "68b03857599d55ba",
            "ea5d25498a148a82",
            "2915e8d7f1e70dfa",
            "82a9652f2800abd2",
            "c7ccc0334eb50118",
            "5fe6b19a8d71f2db",
            "1a04133fc32a6792",
            "9c679bdd0fda09a5",
            "67844b27ca269d92",
            "1ca737c8e74a22a5",
            "c4f5922cb26a3998",
            "5662d80d439cd342",
            "f8be6e33fe59c735",
            "f399a42abb16b1ad",
            "7fbe870b32043c70",
            "99b8794dfd97d91e",
            "240bd4794efe75b8",
            "ec0f86e3bfd31f63",
            "708b1601fcc4c862",
            "e14207c6f98a1aa3",
            "50cfe551baf6634f",
            "9f313e419bada54e",
            "986df09df783c6c8",
            "79575f220d4dfa68",
            "fb6a157bbf3ad2da",
            "0fd3b0e6275c5afa",
            "e0b655b24d767f7c",
            "ba5250c6a66c834f",
            "df0410e05074279c",
            "94e0c36675486a27",
            "f7b59444a74a9183",
            "a4cdae48bfc4f014",
            "281b4b047c0a4463",
            "024cb06b927f7db7",
            "f7c06d53c362be14",
            "23cc7b3fe42d075e",
            "9067addd23332e57",
            "7a70498d942f4bce",
            "3195e6731f24a9c7",
            "4fb7a1e011f6924a",
            "bdc2d47d6064b8b5",
            "24179b89894b4492",
            "63d03d1018d83a55",
            "c711b624259b81ee",
            "266e818d197bc9c7",
            "b3a3a23d975054ae",
            "ca4af76f0b455d30",
            "83cd0f60798471b7",
            "f01ce313a1230232",
            "8662c8b52f52a42b",
            "c427b108497e6ef9",
            "0a13eb801a55220b",
            "25d0e6cb2c178d22",
            "b2617788b39624ef",
            "f73af2ee572832e8",
            "75fff9bb3c7c56dd",
            "bffeeb7a0f989c87",
            "f070aa2adde760ca",
            "bf1c56e9fa8b40b3",
            "807d8dc80041cdb8",
            "2100d078ef7410f3",
            "d6192028a8392d38",
            "1572d2a13e768dfa",
            "991c532d554e63df",
            "27a2cee75f250399",
            "15446f65c461360b",
            "bd1e7497f1dce7d2",
            "e6f00ecb0971b54a",
            "1f3faf39dcc81b2a",
            "4b95e8a87951172a",
            "8ad9109e2e4a0a36",
            "30af8ee86d3e7385",
            "34c3390d76436038",
            "fac728d70e1923ab",
            "1741621e8ef22db4",
            "6826926c5cc3a0d5"
        ],
        "x": 34,
        "y": 279,
        "w": 1452,
        "h": 1142
    },
    {
        "id": "e351d57e375c44e0",
        "type": "group",
        "z": "5445a7fef5dd7231",
        "name": "Exception Handler",
        "style": {
            "label": true
        },
        "nodes": [
            "81bf876881cf8b8e",
            "cfb8583e19e90093"
        ],
        "x": 74,
        "y": 59,
        "w": 352,
        "h": 82
    },
    {
        "id": "8535fbefa24e351e",
        "type": "group",
        "z": "5445a7fef5dd7231",
        "name": "Shutdown IRIV PiControl if user button is pressed for > 5 seconds or commanded from dashboard",
        "style": {
            "label": true
        },
        "nodes": [
            "a65ed8a93ebe06ac",
            "abafc847dbf6fa30",
            "7e30735249f25f0f",
            "de271e3d5992bd39",
            "a1e99527f3949721",
            "56c92a79f05d255f",
            "2901b9043005c968",
            "946607322a1c245f",
            "543be67c559aa29b",
            "0b0b904a0c5d83a0",
            "08f5d4861be16b40",
            "548713fd174417c9",
            "5139eed07877b883"
        ],
        "x": 74,
        "y": 291.5,
        "w": 932,
        "h": 337
    },
    {
        "id": "b67ee8a0a756fc97",
        "type": "group",
        "z": "5445a7fef5dd7231",
        "name": "Beep when user button is pressed",
        "style": {
            "label": true
        },
        "nodes": [
            "1f10cf36ba4b4f51",
            "7a810784755b2915",
            "59c5ecbc9808ad02",
            "5654523bdbb6264a"
        ],
        "x": 74,
        "y": 179,
        "w": 602,
        "h": 82
    },
    {
        "id": "118e3eec7aeb3303",
        "type": "group",
        "z": "5445a7fef5dd7231",
        "name": "Update Status",
        "style": {
            "label": true
        },
        "nodes": [
            "b83667eb29510be7",
            "dbd925f357b14d1c",
            "278eca4926731c0c",
            "0335107cdd4b8620",
            "d60d44ce7e860358",
            "41c1a2d224ba5e50",
            "1ca2b7496f388944",
            "d9bae8741593b8d9",
            "0fda47379c765734",
            "0eb945c44cc7870d",
            "3b7bcfb3e511c91e",
            "557cb8d73a025def",
            "6226e26c568e0b05",
            "fa7b9d62b2d8d682",
            "c4ac9389e39781e3",
            "4ce849f7660df523",
            "977f6b2df90b6fac",
            "c66ec60dfeab1297",
            "d728b5299d5dbdc4",
            "949bbc9fe705f728",
            "cf84f98d178d8f1d",
            "ae7361b2449f3c4c",
            "9e3a9627005adbf2",
            "fdd5d87fc5bf4fff",
            "b7a216bfc378a218",
            "9ae354c5c601ab25",
            "e9b4feb4d8509cab",
            "5f5693dd2a8ae029",
            "616f3b01fe83a05c",
            "d7ae7296524f813a",
            "b975166d4ae9d029",
            "259b736f7a31d1ee"
        ],
        "x": 74,
        "y": 679,
        "w": 1192,
        "h": 1342
    },
    {
        "id": "7e4cdd0309f5b525",
        "type": "oled-config",
        "name": "iriv_oled",
        "width": "128",
        "height": "64",
        "address": "3c"
    },
    {
        "id": "6c8ed2f95ccc86e9",
        "type": "ui_tab",
        "name": "IRIV PiControl Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "60b4dd6e2fefb0fd",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0fb4f5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#0094ce",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#0094ce",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IRIV PiControl Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 20,
                "gy": 20,
                "cx": 6,
                "cy": 6,
                "px": 10,
                "py": 10
            }
        }
    },
    {
        "id": "88ffe255855640ed",
        "type": "ui_group",
        "name": "Button, LEDs & Buzzer",
        "tab": "6c8ed2f95ccc86e9",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b01c9ef39d93b12",
        "type": "ui_group",
        "name": "System",
        "tab": "6c8ed2f95ccc86e9",
        "order": 5,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7e1dc67e31c2f09",
        "type": "ui_group",
        "name": "Digital Inputs",
        "tab": "6c8ed2f95ccc86e9",
        "order": 2,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "5761374055a6c59a",
        "type": "ui_group",
        "name": "Digital Outputs",
        "tab": "6c8ed2f95ccc86e9",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23019df79a890845",
        "type": "ui_group",
        "name": "Analog Inputs",
        "tab": "6c8ed2f95ccc86e9",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fc504dabe400203",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "88ffe255855640ed",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "f950743a1f9e2f4a",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "88ffe255855640ed",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "20ea82c86ec8b236",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "f7e1dc67e31c2f09",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "dfa42da4320ac881",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "f7e1dc67e31c2f09",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "8e14e871706fc434",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "5761374055a6c59a",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "2eb1d75dd74c7829",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "5761374055a6c59a",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1ae6803a2ee4962",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "23019df79a890845",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d86f9408d27f5a89",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "23019df79a890845",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "993e85bddcb77a0d",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "23019df79a890845",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "19c9056f99feb5b0",
        "type": "ui_spacer",
        "z": "62c06baefd79902a",
        "name": "spacer",
        "group": "23019df79a890845",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "a65ed8a93ebe06ac",
        "type": "trigger",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "1",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "abafc847dbf6fa30",
                "946607322a1c245f",
                "a1e99527f3949721",
                "2901b9043005c968"
            ]
        ]
    },
    {
        "id": "abafc847dbf6fa30",
        "type": "trigger",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "On for 200ms",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "200",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 660,
        "y": 400,
        "wires": [
            [
                "548713fd174417c9"
            ]
        ]
    },
    {
        "id": "7e30735249f25f0f",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "command": "sudo shutdown now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 880,
        "y": 340,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "de271e3d5992bd39",
        "type": "Clear",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "a1e99527f3949721",
        "type": "delay",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 340,
        "wires": [
            [
                "7e30735249f25f0f"
            ]
        ]
    },
    {
        "id": "d7ae7296524f813a",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "sudo nmcli device wifi hotspot ssid iriv password iriv1234",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 1030,
        "y": 1700,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "81bf876881cf8b8e",
        "type": "catch",
        "z": "5445a7fef5dd7231",
        "g": "e351d57e375c44e0",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "cfb8583e19e90093"
            ]
        ]
    },
    {
        "id": "cfb8583e19e90093",
        "type": "debug",
        "z": "5445a7fef5dd7231",
        "g": "e351d57e375c44e0",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 100,
        "wires": []
    },
    {
        "id": "b83667eb29510be7",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "ip -f inet addr show eth0 | sed -En -e 's/.*inet ([0-9.]+).*/\\1/p'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get IP - eth0",
        "x": 430,
        "y": 760,
        "wires": [
            [
                "d60d44ce7e860358"
            ],
            [],
            [
                "dbd925f357b14d1c"
            ]
        ]
    },
    {
        "id": "dbd925f357b14d1c",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "ip -f inet addr show eth1 | sed -En -e 's/.*inet ([0-9.]+).*/\\1/p'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get IP - eth1",
        "x": 430,
        "y": 840,
        "wires": [
            [
                "41c1a2d224ba5e50"
            ],
            [],
            [
                "278eca4926731c0c"
            ]
        ]
    },
    {
        "id": "278eca4926731c0c",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "ip -f inet addr show wlan0 | sed -En -e 's/.*inet ([0-9.]+).*/\\1/p'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get IP - wlan0",
        "x": 440,
        "y": 920,
        "wires": [
            [
                "1ca2b7496f388944"
            ],
            [],
            [
                "0fda47379c765734"
            ]
        ]
    },
    {
        "id": "0335107cdd4b8620",
        "type": "inject",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Every 2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 760,
        "wires": [
            [
                "b83667eb29510be7"
            ]
        ]
    },
    {
        "id": "d60d44ce7e860358",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable IpEth0.",
        "func": "// Append the string length to 15 characters for IP address.\nmsg.payload = msg.payload.trim();\nwhile (msg.payload.length < 15) {\n    msg.payload = msg.payload.concat(\" \");\n}\n\nglobal.set('IpEth0', msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "41c1a2d224ba5e50",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable IpEth1.",
        "func": "// Append the string length to 15 characters for IP address.\nmsg.payload = msg.payload.trim();\nwhile (msg.payload.length < 15) {\n    msg.payload = msg.payload.concat(\" \");\n}\n\nglobal.set('IpEth1', msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "1ca2b7496f388944",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable IpWlan0.",
        "func": "// Append the string length to 15 characters for IP address.\nmsg.payload = msg.payload.trim();\nwhile (msg.payload.length < 15) {\n    msg.payload = msg.payload.concat(\" \");\n}\n\nglobal.set('IpWlan0', msg.payload);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "d9bae8741593b8d9",
        "type": "comment",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Update status",
        "info": "",
        "x": 190,
        "y": 720,
        "wires": []
    },
    {
        "id": "0fda47379c765734",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "top -bn1 | grep load | awk '{printf \"%.2f\\n\", $(NF-2)}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get CPU Load",
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "0eb945c44cc7870d"
            ],
            [],
            [
                "ae7361b2449f3c4c"
            ]
        ]
    },
    {
        "id": "0eb945c44cc7870d",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable CpuLoad",
        "func": "global.set('CpuLoad', msg.payload.trim());\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "3b7bcfb3e511c91e",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "free -m | awk 'NR==2{printf \"%.1f/%.1fGB %d%%\\n\", $3/1000,$2/1000,$3*100/$2}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get RAM Usage",
        "x": 440,
        "y": 1160,
        "wires": [
            [
                "557cb8d73a025def"
            ],
            [],
            [
                "6226e26c568e0b05"
            ]
        ]
    },
    {
        "id": "557cb8d73a025def",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable Ram",
        "func": "global.set('Ram', msg.payload.trim());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "6226e26c568e0b05",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "df -h | awk '$NF==\"/\"{printf \"%.1f/%.1fGB %s\\n\", $3,$2,$5}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get Disk Usage",
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "fa7b9d62b2d8d682"
            ],
            [],
            []
        ]
    },
    {
        "id": "fa7b9d62b2d8d682",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable Disk",
        "func": "global.set('Disk', msg.payload.trim());\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "c4ac9389e39781e3",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "free -t -h | awk 'NR==4{printf \"%d\\n\", $2+0.7}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get total RAM Size",
        "x": 450,
        "y": 1360,
        "wires": [
            [
                "4ce849f7660df523"
            ],
            [],
            [
                "c66ec60dfeab1297"
            ]
        ]
    },
    {
        "id": "4ce849f7660df523",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable TotalRam",
        "func": "global.set('TotalRam', msg.payload.trim());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "977f6b2df90b6fac",
        "type": "inject",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Run Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1360,
        "wires": [
            [
                "c4ac9389e39781e3"
            ]
        ]
    },
    {
        "id": "c66ec60dfeab1297",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "df -h | awk '$NF==\"/\"{printf \"%d\\n\", $2*1.1}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get total Disk Size",
        "x": 450,
        "y": 1440,
        "wires": [
            [
                "d728b5299d5dbdc4"
            ],
            [],
            [
                "949bbc9fe705f728"
            ]
        ]
    },
    {
        "id": "d728b5299d5dbdc4",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable TotalDisk",
        "func": "global.set('TotalDisk', msg.payload.trim());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "949bbc9fe705f728",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "ifconfig | grep wlan0",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Check whether there's wireless",
        "x": 490,
        "y": 1520,
        "wires": [
            [
                "cf84f98d178d8f1d",
                "b975166d4ae9d029"
            ],
            [],
            [
                "fdd5d87fc5bf4fff"
            ]
        ]
    },
    {
        "id": "cf84f98d178d8f1d",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable IsWireless",
        "func": "var result;\n\nif (msg.payload == \"\") {\n    result = \"\"\n} else {\n    result = \"W\"\n}\n\nglobal.set('IsWireless', result);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "ae7361b2449f3c4c",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "vcgencmd measure_temp | awk -F \"[=']\" '{print($2)}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get CPU Temperature",
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "9e3a9627005adbf2"
            ],
            [],
            [
                "3b7bcfb3e511c91e"
            ]
        ]
    },
    {
        "id": "9e3a9627005adbf2",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable CpuTemp",
        "func": "global.set('CpuTemp', msg.payload.trim());\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "1f10cf36ba4b4f51",
        "type": "switch",
        "z": "5445a7fef5dd7231",
        "g": "b67ee8a0a756fc97",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "7a810784755b2915"
            ]
        ]
    },
    {
        "id": "7a810784755b2915",
        "type": "trigger",
        "z": "5445a7fef5dd7231",
        "g": "b67ee8a0a756fc97",
        "name": "On for 25ms",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "25",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 490,
        "y": 220,
        "wires": [
            [
                "59c5ecbc9808ad02"
            ]
        ]
    },
    {
        "id": "56c92a79f05d255f",
        "type": "link in",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "Shutdown",
        "links": [
            "34cd93148635b2a2"
        ],
        "x": 385,
        "y": 400,
        "wires": [
            [
                "a1e99527f3949721",
                "abafc847dbf6fa30",
                "946607322a1c245f",
                "2901b9043005c968"
            ]
        ]
    },
    {
        "id": "2901b9043005c968",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "Update global.state",
        "func": "global.set('state', -1);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "946607322a1c245f",
        "type": "delay",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "",
        "pauseType": "delay",
        "timeout": "100",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 460,
        "wires": [
            [
                "de271e3d5992bd39"
            ]
        ]
    },
    {
        "id": "543be67c559aa29b",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "command": "sudo reboot now",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 870,
        "y": 580,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "0b0b904a0c5d83a0",
        "type": "delay",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "",
        "pauseType": "delay",
        "timeout": "250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 650,
        "y": 580,
        "wires": [
            [
                "543be67c559aa29b"
            ]
        ]
    },
    {
        "id": "08f5d4861be16b40",
        "type": "link in",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "Reboot",
        "links": [
            "3b832cc6a4984378"
        ],
        "x": 385,
        "y": 580,
        "wires": [
            [
                "0b0b904a0c5d83a0",
                "abafc847dbf6fa30",
                "946607322a1c245f",
                "2901b9043005c968"
            ]
        ]
    },
    {
        "id": "b975166d4ae9d029",
        "type": "switch",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 1700,
        "wires": [
            [
                "d7ae7296524f813a"
            ]
        ]
    },
    {
        "id": "fdd5d87fc5bf4fff",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "lsb_release -c | awk -F \":\" '{print($2)}'",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get Codename",
        "x": 440,
        "y": 1800,
        "wires": [
            [
                "b7a216bfc378a218"
            ],
            [],
            [
                "9ae354c5c601ab25"
            ]
        ]
    },
    {
        "id": "b7a216bfc378a218",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable Codename",
        "func": "global.set('Codename', msg.payload.trim());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "9ae354c5c601ab25",
        "type": "exec",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "command": "getconf LONG_BIT",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "Get OS Bit",
        "x": 430,
        "y": 1880,
        "wires": [
            [
                "e9b4feb4d8509cab"
            ],
            [],
            []
        ]
    },
    {
        "id": "e9b4feb4d8509cab",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable OSBit",
        "func": "global.set('OSBit', msg.payload.trim());",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "5f5693dd2a8ae029",
        "type": "function",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Save to global variable Revision",
        "func": "global.set('Revision', \"v1.1.3\");",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "616f3b01fe83a05c",
        "type": "inject",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Run Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 1980,
        "wires": [
            [
                "5f5693dd2a8ae029"
            ]
        ]
    },
    {
        "id": "548713fd174417c9",
        "type": "link out",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "Buzzer",
        "mode": "link",
        "links": [
            "42b9469173c2ba7b"
        ],
        "x": 795,
        "y": 400,
        "wires": []
    },
    {
        "id": "59c5ecbc9808ad02",
        "type": "link out",
        "z": "5445a7fef5dd7231",
        "g": "b67ee8a0a756fc97",
        "name": "Buzzer",
        "mode": "link",
        "links": [
            "42b9469173c2ba7b"
        ],
        "x": 635,
        "y": 220,
        "wires": []
    },
    {
        "id": "5139eed07877b883",
        "type": "link in",
        "z": "5445a7fef5dd7231",
        "g": "8535fbefa24e351e",
        "name": "Button",
        "links": [
            "be701008f611da98"
        ],
        "x": 115,
        "y": 340,
        "wires": [
            [
                "a65ed8a93ebe06ac"
            ]
        ]
    },
    {
        "id": "5654523bdbb6264a",
        "type": "link in",
        "z": "5445a7fef5dd7231",
        "g": "b67ee8a0a756fc97",
        "name": "Button",
        "links": [
            "be701008f611da98"
        ],
        "x": 115,
        "y": 220,
        "wires": [
            [
                "1f10cf36ba4b4f51"
            ]
        ]
    },
    {
        "id": "259b736f7a31d1ee",
        "type": "comment",
        "z": "5445a7fef5dd7231",
        "g": "118e3eec7aeb3303",
        "name": "Turn on WiFi Hotspot if wireless is available. \\n Remove this if you do not want to enable WiFi AP.",
        "info": "",
        "x": 880,
        "y": 1640,
        "wires": []
    },
    {
        "id": "4c544b6a1063ed9e",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 1080,
        "wires": []
    },
    {
        "id": "47cb5e590092d9ba",
        "type": "function",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "State Machine",
        "func": "var state = global.get('state') || 0;\n\nif (msg.payload == \"reset\") {\n    state = 0;\n    global.set('state', state);\n\n    msg.payload = state;\n    return msg;\n}\n\nif (msg.payload == 0) {\n    state += 1;\n    if (state == 5) {\n        state = 0;\n    }\n\n    global.set('state', state);\n\n    msg.payload = state;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 760,
        "wires": [
            [
                "82a9652f2800abd2"
            ]
        ]
    },
    {
        "id": "68b03857599d55ba",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 470,
        "y": 900,
        "wires": [
            [
                "bdc2d47d6064b8b5"
            ],
            [
                "4fb7a1e011f6924a"
            ],
            [
                "63d03d1018d83a55"
            ],
            [
                "ca4af76f0b455d30"
            ],
            [
                "0a13eb801a55220b"
            ]
        ]
    },
    {
        "id": "ea5d25498a148a82",
        "type": "inject",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "reset",
        "payloadType": "str",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "47cb5e590092d9ba"
            ]
        ]
    },
    {
        "id": "2915e8d7f1e70dfa",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "bd1e7497f1dce7d2"
            ]
        ]
    },
    {
        "id": "82a9652f2800abd2",
        "type": "trigger",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Limit update frequency",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "100",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 220,
        "y": 900,
        "wires": [
            [
                "68b03857599d55ba",
                "c4f5922cb26a3998"
            ]
        ]
    },
    {
        "id": "fc8c66e2e0922097",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "Show Bottom Text",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 3,\n    \"y\": 56,\n    \"text\": \"Press USER to cont...\"\n}",
        "output": "json",
        "x": 330,
        "y": 200,
        "wires": [
            [
                "7c62001e563e4156"
            ]
        ]
    },
    {
        "id": "44b257e233e15227",
        "type": "Line",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 510,
        "y": 140,
        "wires": []
    },
    {
        "id": "df66aae5f2698be1",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "Draw Line",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x0\": 1,\n    \"x1\": 128,\n    \"y0\": 52,\n    \"y1\": 52,\n    \"color\": 1\n}",
        "output": "json",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "44b257e233e15227",
                "12882f065f5a841b"
            ]
        ]
    },
    {
        "id": "c7ccc0334eb50118",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Instruction 1-1",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 15,\n    \"text\": \"1. Connect to WiFi AP\"\n}",
        "output": "json",
        "x": 960,
        "y": 620,
        "wires": [
            [
                "9067addd23332e57",
                "807d8dc80041cdb8"
            ]
        ]
    },
    {
        "id": "5fe6b19a8d71f2db",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Instruction 1-2",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 30,\n    \"text\": \"   SSID: iriv\"\n}",
        "output": "json",
        "x": 960,
        "y": 660,
        "wires": [
            [
                "7a70498d942f4bce",
                "807d8dc80041cdb8"
            ]
        ]
    },
    {
        "id": "1a04133fc32a6792",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Instruction 1-3",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 40,\n    \"text\": \"   Password: iriv1234\"\n}",
        "output": "json",
        "x": 960,
        "y": 700,
        "wires": [
            [
                "807d8dc80041cdb8"
            ]
        ]
    },
    {
        "id": "9c679bdd0fda09a5",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 640,
        "wires": []
    },
    {
        "id": "67844b27ca269d92",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show instruction title",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"text\": \"ACCESS DASHBOARD:\"\n}",
        "output": "json",
        "x": 960,
        "y": 540,
        "wires": [
            [
                "3195e6731f24a9c7",
                "807d8dc80041cdb8"
            ]
        ]
    },
    {
        "id": "7c62001e563e4156",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "1ca737c8e74a22a5",
        "type": "FillRectangle",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 470,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c4f5922cb26a3998",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Clear but retain bottom message",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"w\": 128,\n    \"h\": 49,\n    \"color\": 0\n}",
        "output": "json",
        "x": 250,
        "y": 1000,
        "wires": [
            [
                "1ca737c8e74a22a5"
            ]
        ]
    },
    {
        "id": "93da38cd26e89d3b",
        "type": "inject",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "Run once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "df66aae5f2698be1"
            ]
        ]
    },
    {
        "id": "5662d80d439cd342",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Instruction 2-2",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 33,\n    \"text\": \"   iriv.local:1880/ui\"\n}",
        "output": "json",
        "x": 960,
        "y": 900,
        "wires": [
            [
                "d6192028a8392d38"
            ]
        ]
    },
    {
        "id": "f8be6e33fe59c735",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Instruction 2-1",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 18,\n    \"text\": \"2. Open this url:\"\n}",
        "output": "json",
        "x": 960,
        "y": 860,
        "wires": [
            [
                "b3a3a23d975054ae",
                "d6192028a8392d38"
            ]
        ]
    },
    {
        "id": "f399a42abb16b1ad",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 860,
        "wires": []
    },
    {
        "id": "7fbe870b32043c70",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show instruction title",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"text\": \"ACCESS DASHBOARD:\"\n}",
        "output": "json",
        "x": 960,
        "y": 780,
        "wires": [
            [
                "c711b624259b81ee",
                "d6192028a8392d38"
            ]
        ]
    },
    {
        "id": "99b8794dfd97d91e",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show IRIV PiControl",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"size\": 2,\n    \"text\": \"IRIV PiCtrl\"\n}",
        "output": "json",
        "x": 960,
        "y": 320,
        "wires": [
            [
                "f070aa2adde760ca",
                "8ad9109e2e4a0a36"
            ]
        ]
    },
    {
        "id": "240bd4794efe75b8",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 400,
        "wires": []
    },
    {
        "id": "ec0f86e3bfd31f63",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Model",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"x\": 2,\n    \"y\": 28,\n    \"size\": 2,\n    \"text\": \"{{global.IsWireless}}R{{global.TotalRam}}E{{global.TotalDisk}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 400,
        "wires": [
            [
                "f070aa2adde760ca",
                "34c3390d76436038"
            ]
        ]
    },
    {
        "id": "708b1601fcc4c862",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show IP title",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"text\": \"IP ADDRESSES:\"\n}",
        "output": "json",
        "x": 930,
        "y": 980,
        "wires": [
            [
                "83cd0f60798471b7",
                "991c532d554e63df"
            ]
        ]
    },
    {
        "id": "e14207c6f98a1aa3",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show eth0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 15,\n    \"text\": \"eth0: {{global.IpEth0}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 1060,
        "wires": [
            [
                "8662c8b52f52a42b",
                "991c532d554e63df"
            ]
        ]
    },
    {
        "id": "50cfe551baf6634f",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show eth1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 27,\n    \"text\": \"eth1: {{global.IpEth1}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 1100,
        "wires": [
            [
                "c427b108497e6ef9",
                "991c532d554e63df"
            ]
        ]
    },
    {
        "id": "9f313e419bada54e",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show wlan0",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 39,\n    \"text\": \"wlan0: {{global.IpWlan0}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 1140,
        "wires": [
            [
                "2915e8d7f1e70dfa",
                "991c532d554e63df"
            ]
        ]
    },
    {
        "id": "986df09df783c6c8",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Status title",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x\": 1,\n    \"y\": 1,\n    \"text\": \"CM4 STATUS:\"\n}",
        "output": "json",
        "x": 950,
        "y": 1220,
        "wires": [
            [
                "15446f65c461360b",
                "25d0e6cb2c178d22"
            ]
        ]
    },
    {
        "id": "79575f220d4dfa68",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Load & Temp",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 15,\n    \"text\": \"Load: {{global.CpuLoad}} Temp: {{global.CpuTemp}}\"\n}",
        "output": "json",
        "x": 950,
        "y": 1300,
        "wires": [
            [
                "15446f65c461360b",
                "f73af2ee572832e8"
            ]
        ]
    },
    {
        "id": "fb6a157bbf3ad2da",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show RAM",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 27,\n    \"text\": \"RAM:  {{{global.Ram}}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 1340,
        "wires": [
            [
                "15446f65c461360b",
                "75fff9bb3c7c56dd"
            ]
        ]
    },
    {
        "id": "0fd3b0e6275c5afa",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Disk",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"x\": 1,\n    \"y\": 39,\n    \"text\": \"Disk: {{{global.Disk}}}\"\n}",
        "output": "json",
        "x": 930,
        "y": 1380,
        "wires": [
            [
                "bffeeb7a0f989c87",
                "15446f65c461360b"
            ]
        ]
    },
    {
        "id": "e0b655b24d767f7c",
        "type": "String",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ba5250c6a66c834f",
        "type": "Line",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 580,
        "wires": []
    },
    {
        "id": "df0410e05074279c",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Draw Line",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x0\": 1,\n    \"x1\": 100,\n    \"y0\": 9,\n    \"y1\": 9,\n    \"color\": 1\n}",
        "output": "json",
        "x": 920,
        "y": 580,
        "wires": [
            [
                "23cc7b3fe42d075e",
                "bf1c56e9fa8b40b3"
            ]
        ]
    },
    {
        "id": "94e0c36675486a27",
        "type": "Line",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 820,
        "wires": []
    },
    {
        "id": "f7b59444a74a9183",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Draw Line",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x0\": 1,\n    \"x1\": 100,\n    \"y0\": 9,\n    \"y1\": 9,\n    \"color\": 1\n}",
        "output": "json",
        "x": 920,
        "y": 820,
        "wires": [
            [
                "266e818d197bc9c7",
                "2100d078ef7410f3"
            ]
        ]
    },
    {
        "id": "a4cdae48bfc4f014",
        "type": "Line",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 1020,
        "wires": []
    },
    {
        "id": "281b4b047c0a4463",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Draw Line",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x0\": 1,\n    \"x1\": 77,\n    \"y0\": 9,\n    \"y1\": 9,\n    \"color\": 1\n}",
        "output": "json",
        "x": 920,
        "y": 1020,
        "wires": [
            [
                "f01ce313a1230232",
                "1572d2a13e768dfa"
            ]
        ]
    },
    {
        "id": "024cb06b927f7db7",
        "type": "Line",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "display": "7e4cdd0309f5b525",
        "x": 1410,
        "y": 1260,
        "wires": []
    },
    {
        "id": "f7c06d53c362be14",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Draw Line",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"x0\": 1,\n    \"x1\": 65,\n    \"y0\": 9,\n    \"y1\": 9,\n    \"color\": 1\n}",
        "output": "json",
        "x": 920,
        "y": 1260,
        "wires": [
            [
                "27a2cee75f250399",
                "b2617788b39624ef"
            ]
        ]
    },
    {
        "id": "23cc7b3fe42d075e",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 620,
        "wires": [
            [
                "c7ccc0334eb50118"
            ]
        ]
    },
    {
        "id": "9067addd23332e57",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 660,
        "wires": [
            [
                "5fe6b19a8d71f2db"
            ]
        ]
    },
    {
        "id": "7a70498d942f4bce",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 700,
        "wires": [
            [
                "1a04133fc32a6792"
            ]
        ]
    },
    {
        "id": "3195e6731f24a9c7",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 580,
        "wires": [
            [
                "df0410e05074279c"
            ]
        ]
    },
    {
        "id": "4fb7a1e011f6924a",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "67844b27ca269d92"
            ]
        ]
    },
    {
        "id": "bdc2d47d6064b8b5",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 320,
        "wires": [
            [
                "99b8794dfd97d91e"
            ]
        ]
    },
    {
        "id": "24179b89894b4492",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "ec0f86e3bfd31f63"
            ]
        ]
    },
    {
        "id": "63d03d1018d83a55",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 780,
        "wires": [
            [
                "7fbe870b32043c70"
            ]
        ]
    },
    {
        "id": "c711b624259b81ee",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 820,
        "wires": [
            [
                "f7b59444a74a9183"
            ]
        ]
    },
    {
        "id": "266e818d197bc9c7",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 860,
        "wires": [
            [
                "f8be6e33fe59c735"
            ]
        ]
    },
    {
        "id": "b3a3a23d975054ae",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 900,
        "wires": [
            [
                "5662d80d439cd342"
            ]
        ]
    },
    {
        "id": "ca4af76f0b455d30",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 980,
        "wires": [
            [
                "708b1601fcc4c862"
            ]
        ]
    },
    {
        "id": "83cd0f60798471b7",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1020,
        "wires": [
            [
                "281b4b047c0a4463"
            ]
        ]
    },
    {
        "id": "f01ce313a1230232",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1060,
        "wires": [
            [
                "e14207c6f98a1aa3"
            ]
        ]
    },
    {
        "id": "8662c8b52f52a42b",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1100,
        "wires": [
            [
                "50cfe551baf6634f"
            ]
        ]
    },
    {
        "id": "c427b108497e6ef9",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1140,
        "wires": [
            [
                "9f313e419bada54e"
            ]
        ]
    },
    {
        "id": "0a13eb801a55220b",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1220,
        "wires": [
            [
                "986df09df783c6c8"
            ]
        ]
    },
    {
        "id": "25d0e6cb2c178d22",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1260,
        "wires": [
            [
                "f7c06d53c362be14"
            ]
        ]
    },
    {
        "id": "b2617788b39624ef",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1300,
        "wires": [
            [
                "79575f220d4dfa68"
            ]
        ]
    },
    {
        "id": "f73af2ee572832e8",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1340,
        "wires": [
            [
                "fb6a157bbf3ad2da"
            ]
        ]
    },
    {
        "id": "75fff9bb3c7c56dd",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1380,
        "wires": [
            [
                "0fd3b0e6275c5afa"
            ]
        ]
    },
    {
        "id": "bffeeb7a0f989c87",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 1380,
        "wires": [
            [
                "e6f00ecb0971b54a"
            ]
        ]
    },
    {
        "id": "f070aa2adde760ca",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 400,
        "wires": [
            [
                "240bd4794efe75b8"
            ]
        ]
    },
    {
        "id": "bf1c56e9fa8b40b3",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 580,
        "wires": [
            [
                "ba5250c6a66c834f"
            ]
        ]
    },
    {
        "id": "807d8dc80041cdb8",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 640,
        "wires": [
            [
                "9c679bdd0fda09a5"
            ]
        ]
    },
    {
        "id": "2100d078ef7410f3",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 820,
        "wires": [
            [
                "94e0c36675486a27"
            ]
        ]
    },
    {
        "id": "d6192028a8392d38",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 860,
        "wires": [
            [
                "f399a42abb16b1ad"
            ]
        ]
    },
    {
        "id": "1572d2a13e768dfa",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 1020,
        "wires": [
            [
                "a4cdae48bfc4f014"
            ]
        ]
    },
    {
        "id": "991c532d554e63df",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 1080,
        "wires": [
            [
                "4c544b6a1063ed9e"
            ]
        ]
    },
    {
        "id": "27a2cee75f250399",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 1260,
        "wires": [
            [
                "024cb06b927f7db7"
            ]
        ]
    },
    {
        "id": "15446f65c461360b",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1230,
        "y": 1320,
        "wires": [
            [
                "e0b655b24d767f7c"
            ]
        ]
    },
    {
        "id": "bd1e7497f1dce7d2",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "f01ce313a1230232"
            ]
        ]
    },
    {
        "id": "e6f00ecb0971b54a",
        "type": "switch",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Verify state again",
        "property": "state",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 1380,
        "wires": [
            [
                "b2617788b39624ef"
            ]
        ]
    },
    {
        "id": "12882f065f5a841b",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "d10afd801c06d4ca",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "fc8c66e2e0922097"
            ]
        ]
    },
    {
        "id": "1f3faf39dcc81b2a",
        "type": "comment",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Sate = -1 means shutting down",
        "info": "",
        "x": 350,
        "y": 720,
        "wires": []
    },
    {
        "id": "4b95e8a87951172a",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Revision",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"x\": 78,\n    \"y\": 20,\n    \"size\": 1,\n    \"text\": \"{{global.Revision}}\"\n}",
        "output": "json",
        "x": 940,
        "y": 360,
        "wires": [
            [
                "f070aa2adde760ca",
                "24179b89894b4492"
            ]
        ]
    },
    {
        "id": "8ad9109e2e4a0a36",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 360,
        "wires": [
            [
                "4b95e8a87951172a"
            ]
        ]
    },
    {
        "id": "30af8ee86d3e7385",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show Codename",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"x\": 78,\n    \"y\": 30,\n    \"size\": 1,\n    \"text\": \"{{global.Codename}}\"\n}",
        "output": "json",
        "x": 950,
        "y": 440,
        "wires": [
            [
                "f070aa2adde760ca",
                "1741621e8ef22db4"
            ]
        ]
    },
    {
        "id": "34c3390d76436038",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 440,
        "wires": [
            [
                "30af8ee86d3e7385"
            ]
        ]
    },
    {
        "id": "fac728d70e1923ab",
        "type": "template",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Show OS Bit",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"x\": 78,\n    \"y\": 40,\n    \"size\": 1,\n    \"text\": \"{{global.OSBit}}-bit\"\n}",
        "output": "json",
        "x": 930,
        "y": 480,
        "wires": [
            [
                "f070aa2adde760ca"
            ]
        ]
    },
    {
        "id": "1741621e8ef22db4",
        "type": "delay",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 480,
        "wires": [
            [
                "fac728d70e1923ab"
            ]
        ]
    },
    {
        "id": "6826926c5cc3a0d5",
        "type": "link in",
        "z": "e059348302dd4852",
        "g": "7731482e8bee75d8",
        "name": "Button",
        "links": [
            "be701008f611da98"
        ],
        "x": 95,
        "y": 760,
        "wires": [
            [
                "47cb5e590092d9ba"
            ]
        ]
    },
    {
        "id": "ec39ee34b118e923",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "",
        "label": "LED0",
        "tooltip": "",
        "group": "88ffe255855640ed",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "3c81f5628dc20a3f"
            ]
        ]
    },
    {
        "id": "89cc88a3e1740433",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "",
        "label": "LED1",
        "tooltip": "",
        "group": "88ffe255855640ed",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "f7c457b6b3a76d13"
            ]
        ]
    },
    {
        "id": "cdcdf33c16171195",
        "type": "ui_button",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "",
        "group": "88ffe255855640ed",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Buzzer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "volume_up",
        "payload": "True",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "150696090b1cc041"
            ]
        ]
    },
    {
        "id": "150696090b1cc041",
        "type": "trigger",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "On for 250ms",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "250",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 620,
        "y": 240,
        "wires": [
            [
                "b3973b38adab1c5b"
            ]
        ]
    },
    {
        "id": "750146473b0c58b6",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "",
        "label": "Button",
        "tooltip": "",
        "group": "88ffe255855640ed",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "94b8b844ba9c91d3",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "Invert",
        "func": "if (msg.payload == 0) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "750146473b0c58b6"
            ]
        ]
    },
    {
        "id": "60282391e45ceefe",
        "type": "ui_button",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "",
        "group": "5b01c9ef39d93b12",
        "order": 9,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Shutdown",
        "tooltip": "",
        "color": "",
        "bgcolor": "#ff0000",
        "className": "",
        "icon": "power_settings_new",
        "payload": "True",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 1920,
        "wires": [
            [
                "34cd93148635b2a2"
            ]
        ]
    },
    {
        "id": "4cddbf0560cbb036",
        "type": "ui_button",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "",
        "group": "5b01c9ef39d93b12",
        "order": 10,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "Reboot",
        "tooltip": "",
        "color": "",
        "bgcolor": "#FFC107",
        "className": "",
        "icon": "refresh",
        "payload": "True",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 420,
        "y": 1980,
        "wires": [
            [
                "3b832cc6a4984378"
            ]
        ]
    },
    {
        "id": "35d4ccba2e282c31",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "",
        "label": "DI0",
        "tooltip": "",
        "group": "f7e1dc67e31c2f09",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "976396ca4f59f2ce",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "Int to Bool",
        "func": "if (msg.payload == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 480,
        "wires": [
            [
                "35d4ccba2e282c31"
            ]
        ]
    },
    {
        "id": "96de81e652eaa753",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "",
        "label": "DI1",
        "tooltip": "",
        "group": "f7e1dc67e31c2f09",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ac69d1180b53a4eb",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "Int to Bool",
        "func": "if (msg.payload == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 540,
        "wires": [
            [
                "96de81e652eaa753"
            ]
        ]
    },
    {
        "id": "b9ef064172544cc3",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "",
        "label": "DI2",
        "tooltip": "",
        "group": "f7e1dc67e31c2f09",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4cda470d704d8e80",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "Int to Bool",
        "func": "if (msg.payload == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 600,
        "wires": [
            [
                "b9ef064172544cc3"
            ]
        ]
    },
    {
        "id": "9d4b7e0bc8fa792e",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "",
        "label": "DI3",
        "tooltip": "",
        "group": "f7e1dc67e31c2f09",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "radio_button_checked",
        "oncolor": "#FFC107",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "radio_button_unchecked",
        "offcolor": "#44739E",
        "animate": false,
        "className": "",
        "x": 750,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "faebef991002e65d",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "Int to Bool",
        "func": "if (msg.payload == 0) {\n    msg.payload = false;\n} else {\n    msg.payload = true;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "9d4b7e0bc8fa792e"
            ]
        ]
    },
    {
        "id": "28aa8df4d883d6fd",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "",
        "label": "DO0",
        "tooltip": "",
        "group": "5761374055a6c59a",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 780,
        "wires": [
            [
                "850f74466c825092"
            ]
        ]
    },
    {
        "id": "2bc17a430cc19406",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "",
        "label": "DO1",
        "tooltip": "",
        "group": "5761374055a6c59a",
        "order": 4,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 840,
        "wires": [
            [
                "9184fe2c4c96ab84"
            ]
        ]
    },
    {
        "id": "a8437adb5e24c218",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "",
        "label": "DO2",
        "tooltip": "",
        "group": "5761374055a6c59a",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 900,
        "wires": [
            [
                "3ae3b6b962ea589e"
            ]
        ]
    },
    {
        "id": "f89fb3a36bb8a961",
        "type": "ui_switch",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "",
        "label": "DO3",
        "tooltip": "",
        "group": "5761374055a6c59a",
        "order": 6,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 960,
        "wires": [
            [
                "f85ac9e3d1d80e43"
            ]
        ]
    },
    {
        "id": "ac3ac06d824af009",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "group": "88ffe255855640ed",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Button Message",
        "label": "Press user button for 5 seconds to shutdown IRIV PiControl.",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 420,
        "y": 360,
        "wires": []
    },
    {
        "id": "6b65770f7755ee39",
        "type": "ui_gauge",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "",
        "group": "23019df79a890845",
        "order": 1,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "AN0",
        "label": "V",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0bb9861fd2482d3d",
        "type": "ui_gauge",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "",
        "group": "23019df79a890845",
        "order": 5,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "AN1",
        "label": "V",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1140,
        "wires": []
    },
    {
        "id": "dc5c11934b2fcee1",
        "type": "ui_gauge",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "",
        "group": "23019df79a890845",
        "order": 3,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "AN2",
        "label": "V",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1200,
        "wires": []
    },
    {
        "id": "8852ef03102f5580",
        "type": "ui_gauge",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "",
        "group": "23019df79a890845",
        "order": 7,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "AN3",
        "label": "V",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 1260,
        "wires": []
    },
    {
        "id": "fde6102c008c0d55",
        "type": "inject",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "Every 500ms",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 1100,
        "wires": [
            [
                "b2f9808e6e192c14"
            ]
        ]
    },
    {
        "id": "8ed924bb748218e3",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "name": "Scale Voltage",
        "func": "var msg0 = { payload: msg.payload.length };\nvar msg1 = { payload: msg.payload.length };\nvar msg2 = { payload: msg.payload.length };\nvar msg3 = { payload: msg.payload.length };\n\n\nmsg0.payload = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_0.Volts * 2.5;\nif (msg0.payload < 0) {\n    msg0.payload = 0;\n}\n\nmsg1.payload = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_1.Volts * 2.5;\nif (msg1.payload < 0) {\n    msg1.payload = 0;\n}\n\nmsg2.payload = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_2.Volts * 2.5;\nif (msg2.payload < 0) {\n    msg2.payload = 0;\n}\n\nmsg3.payload = msg.payload[\"/dev/i2c-1\"].ads1115[\"0x48\"].singleEnded.channel_3.Volts * 2.5;\nif (msg3.payload < 0) {\n    msg3.payload = 0;\n}\n\nreturn [msg0, msg1, msg2, msg3];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1100,
        "wires": [
            [
                "6b65770f7755ee39"
            ],
            [
                "0bb9861fd2482d3d"
            ],
            [
                "dc5c11934b2fcee1"
            ],
            [
                "8852ef03102f5580"
            ]
        ]
    },
    {
        "id": "b2f9808e6e192c14",
        "type": "ads1x15_i2c",
        "z": "62c06baefd79902a",
        "g": "c65c4a2017ccb3f8",
        "property": "payload",
        "name": "",
        "i2c_device_number": 1,
        "chip": "0x01",
        "i2c_address": "0x48",
        "inputsForChannel": "singleEnded",
        "singleEndedChannel0": true,
        "singleEndedChannel1": true,
        "singleEndedChannel2": true,
        "singleEndedChannel3": true,
        "differentialChannel0_1": true,
        "differentialChannel0_3": false,
        "differentialChannel1_3": false,
        "differentialChannel2_3": true,
        "samplesPerSecond0": "920",
        "samplesPerSecond1": "128",
        "progGainAmp": "4096",
        "x": 630,
        "y": 1100,
        "wires": [
            [
                "8ed924bb748218e3"
            ]
        ]
    },
    {
        "id": "822d28d21e12240b",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "eth0",
        "label": "eth0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1500,
        "wires": []
    },
    {
        "id": "da4f01f1cb203666",
        "type": "inject",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Every 2s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "9e6d86ee75895bd9",
                "e3be9c59a398d806",
                "cd338b8cd74b51b4",
                "c8607c96ca93c4f5",
                "aaa2da7bf77f2358",
                "8a83915a5a3f02e4",
                "4f8ab336209bf378"
            ]
        ]
    },
    {
        "id": "9e6d86ee75895bd9",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable IpEth0",
        "func": "msg.payload = global.get('IpEth0');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "822d28d21e12240b"
            ]
        ]
    },
    {
        "id": "c3a32c35cdef8f4b",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "eth1",
        "label": "eth1 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e3be9c59a398d806",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable IpEth1",
        "func": "msg.payload = global.get('IpEth1');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1540,
        "wires": [
            [
                "c3a32c35cdef8f4b"
            ]
        ]
    },
    {
        "id": "33b668c25cfd16a8",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "wlan0",
        "label": "wlan0 IP:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1580,
        "wires": []
    },
    {
        "id": "cd338b8cd74b51b4",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable IpWlan0",
        "func": "msg.payload = global.get('IpWlan0');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1580,
        "wires": [
            [
                "33b668c25cfd16a8"
            ]
        ]
    },
    {
        "id": "5d8c34500db77fa5",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "CPU Load",
        "label": "CPU Load:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1660,
        "wires": []
    },
    {
        "id": "c8607c96ca93c4f5",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable CpuLoad",
        "func": "msg.payload = global.get('CpuLoad');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1660,
        "wires": [
            [
                "5d8c34500db77fa5"
            ]
        ]
    },
    {
        "id": "8d892f59f1b16913",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "CPU Temp",
        "label": "CPU Temp:",
        "format": "{{msg.payload}} C",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 890,
        "y": 1720,
        "wires": []
    },
    {
        "id": "aaa2da7bf77f2358",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable CpuTemp",
        "func": "msg.payload = global.get('CpuTemp');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1720,
        "wires": [
            [
                "8d892f59f1b16913"
            ]
        ]
    },
    {
        "id": "8e80e1ec14f94b59",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "Ram",
        "label": "RAM:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1780,
        "wires": []
    },
    {
        "id": "8a83915a5a3f02e4",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable Ram",
        "func": "msg.payload = global.get('Ram');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1780,
        "wires": [
            [
                "8e80e1ec14f94b59"
            ]
        ]
    },
    {
        "id": "2133ac632fd7220c",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "Disk",
        "label": "Disk:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 870,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4f8ab336209bf378",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable Disk",
        "func": "msg.payload = global.get('Disk');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1840,
        "wires": [
            [
                "2133ac632fd7220c"
            ]
        ]
    },
    {
        "id": "34cd93148635b2a2",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Shutdown",
        "mode": "link",
        "links": [
            "56c92a79f05d255f"
        ],
        "x": 585,
        "y": 1920,
        "wires": []
    },
    {
        "id": "3b832cc6a4984378",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Reboot",
        "mode": "link",
        "links": [
            "08f5d4861be16b40"
        ],
        "x": 585,
        "y": 1980,
        "wires": []
    },
    {
        "id": "5fd50e2c84b7143a",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "OS",
        "label": "OS:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 950,
        "y": 1380,
        "wires": []
    },
    {
        "id": "93edce6fcbf6b8f9",
        "type": "inject",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Run Once",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 1380,
        "wires": [
            [
                "faa3f5284120d1d2",
                "5f182ee507748ee0"
            ]
        ]
    },
    {
        "id": "faa3f5284120d1d2",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable Codename & OSBit",
        "func": "msg.payload = global.get('Codename') + \" \" + global.get('OSBit') + \"-bit\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 1380,
        "wires": [
            [
                "5fd50e2c84b7143a"
            ]
        ]
    },
    {
        "id": "fd0ac508be3bf537",
        "type": "ui_text",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "group": "5b01c9ef39d93b12",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Revision",
        "label": "Dashboard Revision:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 960,
        "y": 1420,
        "wires": []
    },
    {
        "id": "5f182ee507748ee0",
        "type": "function",
        "z": "62c06baefd79902a",
        "g": "ecd28b03fbd1122a",
        "name": "Get global variable Revision",
        "func": "msg.payload = global.get('Revision');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 1420,
        "wires": [
            [
                "fd0ac508be3bf537"
            ]
        ]
    },
    {
        "id": "3c81f5628dc20a3f",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "LED0",
        "mode": "link",
        "links": [
            "149ad93792094d92"
        ],
        "x": 555,
        "y": 120,
        "wires": []
    },
    {
        "id": "f7c457b6b3a76d13",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "LED1",
        "mode": "link",
        "links": [
            "2548750074348081"
        ],
        "x": 555,
        "y": 180,
        "wires": []
    },
    {
        "id": "b3973b38adab1c5b",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "Buzzer",
        "mode": "link",
        "links": [
            "42b9469173c2ba7b"
        ],
        "x": 775,
        "y": 240,
        "wires": []
    },
    {
        "id": "21a1dbbfbb25cf54",
        "type": "link in",
        "z": "62c06baefd79902a",
        "g": "8f696b754bce64e9",
        "name": "Button",
        "links": [
            "be701008f611da98"
        ],
        "x": 355,
        "y": 300,
        "wires": [
            [
                "94b8b844ba9c91d3"
            ]
        ]
    },
    {
        "id": "4f74ee1f606528cf",
        "type": "link in",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "DI0",
        "links": [
            "ed5cac9635191991"
        ],
        "x": 355,
        "y": 480,
        "wires": [
            [
                "976396ca4f59f2ce"
            ]
        ]
    },
    {
        "id": "f95735e3fd2f719a",
        "type": "link in",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "DI1",
        "links": [
            "9031ea95efdb0241"
        ],
        "x": 355,
        "y": 540,
        "wires": [
            [
                "ac69d1180b53a4eb"
            ]
        ]
    },
    {
        "id": "63430cde3b47cae4",
        "type": "link in",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "DI2",
        "links": [
            "953d87ee5e6849cb"
        ],
        "x": 355,
        "y": 600,
        "wires": [
            [
                "4cda470d704d8e80"
            ]
        ]
    },
    {
        "id": "04a969c0823203b6",
        "type": "link in",
        "z": "62c06baefd79902a",
        "g": "510f7a812a5cb8c6",
        "name": "DI3",
        "links": [
            "1f7d4606b8ef7d0d"
        ],
        "x": 355,
        "y": 660,
        "wires": [
            [
                "faebef991002e65d"
            ]
        ]
    },
    {
        "id": "850f74466c825092",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "DO0",
        "mode": "link",
        "links": [
            "6cb20d76dc54e752"
        ],
        "x": 535,
        "y": 780,
        "wires": []
    },
    {
        "id": "9184fe2c4c96ab84",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "DO1",
        "mode": "link",
        "links": [
            "cbea8aa350e9f850"
        ],
        "x": 535,
        "y": 840,
        "wires": []
    },
    {
        "id": "3ae3b6b962ea589e",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "DO2",
        "mode": "link",
        "links": [
            "a8b0827e20bcbf69"
        ],
        "x": 535,
        "y": 900,
        "wires": []
    },
    {
        "id": "f85ac9e3d1d80e43",
        "type": "link out",
        "z": "62c06baefd79902a",
        "g": "f4c5bdb2754f3579",
        "name": "DO3",
        "mode": "link",
        "links": [
            "ec735cdb8292bced"
        ],
        "x": 535,
        "y": 960,
        "wires": []
    },
    {
        "id": "0209ec402afd1cf1",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "LED0 Output",
        "pin": "20",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "cd00a2e02518aeaf",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "LED1 Output",
        "pin": "21",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "149ad93792094d92",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "LED0",
        "links": [
            "3c81f5628dc20a3f"
        ],
        "x": 675,
        "y": 280,
        "wires": [
            [
                "0209ec402afd1cf1"
            ]
        ]
    },
    {
        "id": "2548750074348081",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "LED1",
        "links": [
            "f7c457b6b3a76d13"
        ],
        "x": 675,
        "y": 340,
        "wires": [
            [
                "cd00a2e02518aeaf"
            ]
        ]
    },
    {
        "id": "3b788993ad4107c3",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "Buzzer Output",
        "pin": "19",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "42b9469173c2ba7b",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "Buzzer",
        "links": [
            "b3973b38adab1c5b",
            "548713fd174417c9",
            "59c5ecbc9808ad02"
        ],
        "x": 675,
        "y": 400,
        "wires": [
            [
                "3b788993ad4107c3"
            ]
        ]
    },
    {
        "id": "ab40579a183e1ec7",
        "type": "rpi-gpio in",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "User Button",
        "pin": "4",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "bcm": true,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "be701008f611da98"
            ]
        ]
    },
    {
        "id": "be701008f611da98",
        "type": "link out",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "Button",
        "mode": "link",
        "links": [
            "21a1dbbfbb25cf54",
            "6826926c5cc3a0d5",
            "5139eed07877b883",
            "5654523bdbb6264a"
        ],
        "x": 505,
        "y": 280,
        "wires": []
    },
    {
        "id": "8a706d172d62abc6",
        "type": "rpi-gpio in",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI0",
        "pin": "13",
        "intype": "tri",
        "debounce": "10",
        "read": true,
        "bcm": true,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "ed5cac9635191991"
            ]
        ]
    },
    {
        "id": "5202f9b5363404e0",
        "type": "rpi-gpio in",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI1",
        "pin": "17",
        "intype": "tri",
        "debounce": "10",
        "read": true,
        "bcm": true,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "9031ea95efdb0241"
            ]
        ]
    },
    {
        "id": "ea16ad3d7de9a1c1",
        "type": "rpi-gpio in",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI2",
        "pin": "22",
        "intype": "tri",
        "debounce": "10",
        "read": true,
        "bcm": true,
        "x": 310,
        "y": 460,
        "wires": [
            [
                "953d87ee5e6849cb"
            ]
        ]
    },
    {
        "id": "a2e80b6fbdc24b74",
        "type": "rpi-gpio in",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI3",
        "pin": "27",
        "intype": "tri",
        "debounce": "10",
        "read": true,
        "bcm": true,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "1f7d4606b8ef7d0d"
            ]
        ]
    },
    {
        "id": "ed5cac9635191991",
        "type": "link out",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI0",
        "mode": "link",
        "links": [
            "4f74ee1f606528cf"
        ],
        "x": 505,
        "y": 340,
        "wires": []
    },
    {
        "id": "9031ea95efdb0241",
        "type": "link out",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI1",
        "mode": "link",
        "links": [
            "f95735e3fd2f719a"
        ],
        "x": 505,
        "y": 400,
        "wires": []
    },
    {
        "id": "953d87ee5e6849cb",
        "type": "link out",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI2",
        "mode": "link",
        "links": [
            "63430cde3b47cae4"
        ],
        "x": 505,
        "y": 460,
        "wires": []
    },
    {
        "id": "1f7d4606b8ef7d0d",
        "type": "link out",
        "z": "5732512e759ff8e5",
        "g": "bf0b2dd014e61cb7",
        "name": "DI3",
        "mode": "link",
        "links": [
            "04a969c0823203b6"
        ],
        "x": 505,
        "y": 520,
        "wires": []
    },
    {
        "id": "1f7363a2fa257c85",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO0 Output",
        "pin": "23",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "ce1091c2d76d7a98",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO1 Output",
        "pin": "24",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "65c24e5d96a66f8b",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO2 Output",
        "pin": "25",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 580,
        "wires": []
    },
    {
        "id": "fa0fd4dd8fbb3307",
        "type": "rpi-gpio out",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO3 Output",
        "pin": "26",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 850,
        "y": 640,
        "wires": []
    },
    {
        "id": "6cb20d76dc54e752",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO0",
        "links": [
            "850f74466c825092"
        ],
        "x": 675,
        "y": 460,
        "wires": [
            [
                "1f7363a2fa257c85"
            ]
        ]
    },
    {
        "id": "cbea8aa350e9f850",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO1",
        "links": [
            "9184fe2c4c96ab84"
        ],
        "x": 675,
        "y": 520,
        "wires": [
            [
                "ce1091c2d76d7a98"
            ]
        ]
    },
    {
        "id": "a8b0827e20bcbf69",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO2",
        "links": [
            "3ae3b6b962ea589e"
        ],
        "x": 675,
        "y": 580,
        "wires": [
            [
                "65c24e5d96a66f8b"
            ]
        ]
    },
    {
        "id": "ec735cdb8292bced",
        "type": "link in",
        "z": "5732512e759ff8e5",
        "g": "8320fa23569300f5",
        "name": "DO3",
        "links": [
            "f85ac9e3d1d80e43"
        ],
        "x": 675,
        "y": 640,
        "wires": [
            [
                "fa0fd4dd8fbb3307"
            ]
        ]
    },
    {
        "id": "5c51c303fecba2fc",
        "type": "comment",
        "z": "5732512e759ff8e5",
        "name": "Due to the limitation for Raspberry Pi 5, we can't have multiple input/output node accessing the same GPIO pin. \\n Thus we have the centralized nodes to access the GPIO.",
        "info": "",
        "x": 600,
        "y": 160,
        "wires": []
    }
]